
  <div>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a routerLink="/about" class="nav-link" [class.active]="btn-primary" id="about-tab">About</a></li>
    <li class="nav-item"><a routerLink="/tours"  class="nav-link" [class.active]="btn-primary">Tours</a></li>
    <li class="nav-item"><a href="/performances" class="nav-link" [class.active]="btn-primary">performances</a></li>
  </ul>

  <ul class="list-group">
      <li class="list-group-item" *ngFor="let value of values">{{value}}</li>
  </ul>
  <button id="add" (click)="export()"> export</button>
  <button id="add" (click)="getValues()"> getValues</button>
</div>